# Ignore Data folder
/PA/Data
# Ignore figures
/PA/Figures
# Ignore .DS_Store
*/.DS_Store
# Ignore some custom file
.DS_Store
PA/.Rhistory
PA/Code/Computing
# Ignore all txt files
*/.txt
# Ignore all RData
*/.RData
